@font-face {
    font-family: Pangolin;
    src: url('../fonts/pangolin/Pangolin-Regular.ttf');
}

@media (max-width: 575px) and (min-width: 50px) {
    body {
        background: #4568DC;
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
        background: linear-gradient(to right, #B06AB3, #4568DC);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .title-button h1 {
        font-size: 20px;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    body {
        background: #4568DC;
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
        background: linear-gradient(to right, #B06AB3, #4568DC);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .title-button h1 {
        font-size: 20px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    body {
        background: #4568DC;
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
        background: linear-gradient(to right, #B06AB3, #4568DC);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .title-button h1 {
        font-size: 20px;
    }
}
@media (max-width: 1999px) and (min-width: 992px) {
    body {
        background: #4568DC;
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
        background: linear-gradient(to right, #B06AB3, #4568DC);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .title-button h1 {
        font-size: 40px;
    }
}
.background-intro-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: opacity(0%);
    z-index: 1;
}
.title-button {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
    margin-top: 10rem;
    font-family: Pangolin;
}
.title-button button {
    width: 25%;
    color: white;
    border: solid white 1px;
    margin-top: 2rem;
}
.title-button button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bolder;
    transform: scale(1.1);
}
.title-button button:focus {
    box-shadow: none;
}
.title-card {
    font-weight: bolder;
    font-size: 16px;
    font-family: Pangolin;
}
.text-card {
    font-size: 14px;
}
.title-chapter {
    color: white;
    font-family: Pangolin;
}
.title-button-card {
    font-size: 10px;
    font-family: Pangolin;
}
.card-hover:hover {
    transform: scale(1.01);
}
.title-icon {
    font-size: 100px;
}
.button-card {
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    color: white;
}
.button-card:hover {
    color: white;
    transform: scale(1.1);
    
}
.button-card:focus {
    box-shadow: none;
}
.icon-chapter {
    color: white;
    font-size: 24px;
}
.icon-chapter:hover {
    transform: scale(1.1);
    color: white;
}
.icon-text-chapter {
    color: white;
}